@import 'tailwindcss';
@plugin "daisyui" {
	themes: light --default;
}

/* Consistent icon sizing in buttons */
.btn svg {
	width: 1.25rem;
	height: 1.25rem;
}

.btn-sm svg {
	width: 1.125rem;
	height: 1.125rem;
}

.btn-xs svg {
	width: 0.875rem;
	height: 0.875rem;
}
